.parent{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
}

.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px 30px 0px 0px;
}
.buttonsSettings{
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-background-color: #C9C9C9;
}
.buttonSelected{
    -fx-background-color: #2B69b3;
}
.servicePanel{
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-background-color: #c1c1c1;
}

.sidebar_opt{
     -fx-fill:#F3F3F3;
 }

.pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #c1c1c1;
    -fx-background-radius: 0px 0px 30px 30px;
    -fx-border-radius: 0px 0px 30px 30px;
}

.plus_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
}
.buttonCerrar{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-color: #2B49B3;

}

.colored_club{
    -fx-background-color: linear-gradient(to right, #2B49B3,#2B69b3);
    -fx-background-radius: 10px;
}

.colored_club2{
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 10px;
}

.button{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4a4a4a;
}

.button:hover{
    -fx-background-color: #2B69b3;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}

.chart-bar{
    -fx-background-color: transparent;
}
.data0.chart-bar{
    -fx-background-color: #2B69b3;
    -fx-width: 15px;
    -fx-background-radius: 3px 3px 0px 0px;
}
.data1.chart-bar{
    -fx-background-color: #2B69b3;
    -fx-width: 10px;
    -fx-background-radius: 3px 3px 0px 0px;
}
.data2.chart-bar{
    -fx-background-color: #2B69b3;
    -fx-width: 17px;
    -fx-background-radius: 3px 3px 0px 0px;
}
.data3.chart-bar{
    -fx-background-color: #2B69b3;
    -fx-width: 12px;
    -fx-background-radius: 3px 3px 0px 0px;
}
.data4.chart-bar{
    -fx-background-color: #2B69b3;
    -fx-width: 12px;
    -fx-background-radius: 3px 3px 0px 0px;
}

.scroll-pane {
    -fx-border-color: #2B69b3;
    -fx-padding: 0px;
}

.scroll-pane:vertical .content{
    -fx-background-color: #4a4a4a;

}

.scroll-bar:vertical .thumb{
    -fx-background-color: #2B69b3;
}

